#left{
    height: 100%;
    width: 50%;
    background-color: white;
    position: absolute;
    left: 0;
}
/*---------COFFEE side animation-----------*/
.section-shop-name{
    height: 25%;
    width: 100%;
    position: absolute;
    font-family: "Inter",sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-content: center;

    animation: floating 5s cubic-bezier(0.37,0,0.63,1) infinite;
}
#section-1{
    background-color: white;
    -webkit-text-fill-color: grey;
    font-size: 13vw;
    top: 5%;
}
#section-2{
    background-color: white;
    top: 30%;
    -webkit-text-fill-color: #2E2328;
    font-size: 13vw;
}
#section-3{
    background-color: white;
    top: 60%;
    -webkit-text-fill-color: #2E2328;
    font-size: 13vw;
}
.tilt{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: tilting 10s cubic-bezier(0.37,0,0.63,1) infinite;
}
section > div  > span {
    margin: 30%;
    transition: font-weight 0.4s ease-in;
    animation: floating-secondary 2.5s cubic-bezier(0.37,0,0.63,1) infinite;
}
#section-1 > div  > span:nth-child(1){
    animation-delay: 1s;
}
#section-1 > div  > span:nth-child(2){
    animation-delay: 2s;
}
#section-2> div > span:nth-child(1){
    animation-delay: 1s;
}
#section-2 > div  > span:nth-child(2){
    animation-delay: 3s;
}
#section-3 > div  > span:nth-child(1){
    animation-delay: 2s;
}
#section-3 > div > span:nth-child(2){
    animation-delay: 1s;
}
@keyframes floating {
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,5vh);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes floating-secondary {
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,1vh);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes tilting {
    0%{
        transform: rotate(1deg);
    }
    50%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(1deg);
    }
}
/*----------------right------------------------*/
#right{
    height: 100%;
    width: 50%;
    background-color: white;

    position: absolute;
    right: 0;
    opacity: 0.8;
    overflow-y: hidden;
}
#right>img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    z-index: 999;
}
#background{
    background-image: -webkit-repeating-radial-gradient(circle,#2E2328,#2E2328 3px,transparent 3px,transparent 100%);
    background-size: 13px 16px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 40%;
    margin: auto;

    width: 60%;
    aspect-ratio: 2/1;
    /*background-color: grey;*/
    animation: floating-secondary 5s cubic-bezier(0.37,0,0.63,1) infinite;
}
#login-box{
    width: 90%;
    height: 100%;

    position: absolute;
    left: 0;
    right: 0;
    bottom: -74%;
    margin: auto;

    background-color: #804667;
    border-radius: 30px;
}
#circle-login{
    width: 10%;
    aspect-ratio: 1/1;
    background-color: #804667;
    border-radius: 100%;

    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    margin: auto;
}
#arrow-circle{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 80%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
}
#arrow{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}
@keyframes arrow-up {
    0%{
        rotate: 180deg;
    }
    100%{
        rotate: 0deg;
    }
}
@keyframes arrow-down {
    to{
        rotate: 0deg;
    }
    from{
        rotate: 180deg;
    }
}
